.row{
margin-left: 10vw;
margin-right: 10vw;
.col-12{
    background-color: cyan ;
    .col-6{
        background-color: purple ;
    }
}
}
#seccion{
     background-color: royalblue ;
     article{
         background-color: pink;
     }
 }

 aside{
     background-color: violet;
 }

 footer{
     background-color: green;   
 }